*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Rubik', sans-serif;
    background-image: url('weather_images/5_day-bg-imag.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  
  /* ------------heading---------------- */
  .main-heading{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    color: rgb(10, 9, 9);
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  }
  

  /* ------------css for input box and button------------- */
  .input{
    text-align: center;
    margin: 60px auto;
  }
  input[type="submit"]{
    padding: 15px 15px;
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    outline: none;
    box-shadow: 2px 2px 4px 2px #000000;
    cursor: pointer;
  }
  .input input[type="text"]{
    width: 35%;
    height: 55px;
    padding: 5px 10px;
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    outline: none;
    box-shadow: 2px 2px 4px 2px #000000;
  }
  .input input[type="reset"]{
    padding: 15px 15px;
    background: #e7e7e7;
    border: none;
    border-radius: 10px;
    font-weight:bold;
    font-size: 20px;
    outline: none;
    box-shadow: 2px 2px 4px 2px #000000;
  }
  input[type="submit"]:hover,
  .input input[type="text"]:hover,
  .input input[type="reset"]:hover{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.8);
  }

  

  /* --------------css for 5 day weather card--------------- */
  .card{
    width: 40%;
    height: 400px;
    margin: 50px auto;
    border-radius: 10px;
    opacity: .9;
    background-color: #f8f7f7d5;
    /* backdrop-filter: blur(2px); */
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  .close{
    float: right;
    margin-top: -2px;
    cursor: pointer;
    margin-right: 20px;
  }
  .card h1{
    margin-top: 40px;
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 0px #FFFFFF, 2px 2px 0px
  }
  .card p{
    text-align: center;
    margin:38px 0;
    font-size:20px;
    font-weight: bold;
  }



  /* ----------------first breakpoint----------------- */
  @media(max-width: 750px){
    .main-heading{
      font-size: 40px;
    }
    input[type="submit"]{
      padding: 15px 15px;
      height: 55px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 18px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
      cursor: pointer;
    }
    .input input[type="text"]{
      width: 45%;
      height: 55px;
      padding: 5px 10px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 18px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
    }
    .input input[type="reset"]{
      padding: 15px 15px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 18px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
    }
    .card{
      width: 50%;
      height: 400px;
      margin: 50px auto;
    }
    .card h1{
      margin-top: 40px;
      padding-top: 20px;
      text-align: center;
      font-weight: bolder;
      text-shadow: 2px 2px 0px #FFFFFF, 2px 2px 0px
    }
    .card p{
      text-align: center;
      margin:38px 0;
      font-size:18px;
      font-weight: bold;
    }
  }


  /* -----------------second breakpoint----------------- */
  @media(max-width: 500px){
    .main-heading{
      font-size: 30px;
    }
    input[type="submit"]{
      padding: 15px 15px;
      height: 50px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 15px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
      cursor: pointer;
    }
    .input input[type="text"]{
      width: 50%;
      height: 50px;
      padding: 5px 10px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 15px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
    }
    .input input[type="reset"]{
      padding: 15px 15px;
      background: #e7e7e7;
      border: none;
      border-radius: 10px;
      font-weight:bold;
      font-size: 15px;
      outline: none;
      box-shadow: 2px 2px 4px 2px #000000;
    }
    .card{
      width: 55%;
      height: 400px;
      margin: 50px auto;
    }
    .card h1{
      margin-top: 40px;
      padding-top: 20px;
      text-align: center;
      font-weight: bolder;
      font-size: 24px;
      text-shadow: 2px 2px 0px #FFFFFF, 2px 2px 0px
    }
    .card p{
      text-align: center;
      margin:38px 0;
      font-size:16px;
      font-weight: bold;
    }
  }